img {
    
    margin-left: 50px;
    margin-bottom: 500px;
}
h6 {
    margin-left: 50px;
    color: deepskyblue;
}
h3 {
    margin-left: 50px;
    
    
}
h2 {
    margin-left: 50px;
    
}
#number {
   margin-left: 50px;
    margin-bottom: 100px;
    color: deepskyblue;
}